.board-row {
  display: flex;
}

button {
  width: 100px; /* Width of the button */
  height: 100px; /* Height of the button */
  background-color: green; /* Background color */
  border: 1px solid white; /* Border color */
  font-size: 24px; /* Font size */
  font-weight: bold; /* Font weight */
  cursor: pointer; /* Pointer cursor on hover */
  display: flex; /* Use flexbox */
  align-items: center; /* Center align vertically */
  justify-content: center; /* Center align horizontally */
}

button:hover {
  background-color: white;
  border: 3px solid green; /* Background color on hover */
}


